<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Tech 1:</strong>
    <%= project.tech_1 %>
  </p>

  <p>
    <strong>Tech 2:</strong>
    <%= project.tech_2 %>
  </p>

  <p>
    <strong>Tech 3:</strong>
    <%= project.tech_3 %>
  </p>

</div>
