<!DOCTYPE html>
<html>
  <head>
    <title>FullPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p style="color: green" class="notice"><%= notice %></p>    
    <p style="color: red" class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p>Signed in as <%= current_user.email %></p>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
